# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Database
db/*.db

# Distribution / packaging
*.egg-info/
dist/
build/
